@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

h1 {
  font-family: "Days One", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #52285e;
}

.body1 {

    background-image: linear-gradient(to right, #52285e, #844494);

}
.bg {
  background-image: url(../images/main\ page\ background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

li,
a,
button {
  font-family: "Days One", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header {
position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  z-index: 1;
}
.logo {
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #844494;
}

button {
  padding: 9px 25px;
  background-color: rgba(172, 124, 180, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(172, 124, 180, 0.8);
}

footer {
        margin-top: 400px;
    bottom: 0px;
    width: 100%;
    color: #f1c3ff;
    background: #844494;
    /* border: #edf0f1;
    border-width: 10px; */
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.main-content {
    display: flex;
}
.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    
}

.left .content .social {
     margin: 20px 0 0 0;
}
.left .content .socials a  {
    padding: 0 2px;
}
.left .content .socials a span {
height: 40px;
width: 40px;
background: #52285e;
line-height: 40px;
text-align: center;
font-size: 18px;
border-radius: 5px;
transition: 0.3s;
}

.left .content .socials a span:hover {
    background: #844494;
}

.textbox {
height: 50px;
width: auto;
    background-color: beige;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.phone {
    padding: 20px;
}



.bg2 {
    background-color: #52285e;
    background-image: linear-gradient(to right bottom, #52285e, #976ca3);
    height: 100vh;
    width: 100%;
  }

  .card {

width: 300px;
height: 450px;
  }



  






  /* .container {
    display: block;
    margin-top: 100px;
    width: 400px;
    height: 400px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    
    .cell {
        margin: 20px;
        width: 60px;
        height: 60px;
        background-color: brown;
        box-shadow: 5px 10px 8px #888888;    
        border: 1px solid;
    } */




    .container2 {
        display: block;
        margin: auto;
        background-color: rgb(73, 31, 73);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
        padding: 10px;
        flex-direction: row;
        }


    .flip-card {
        margin-top: 300px;
        background-color: transparent;
        width: 200px;
        height: 380px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
          text-align: center;
        background-color: #f1c3ff;
        color: white;
        transform: rotateY(180deg);
      }



     p  {
         font-size: 40px;
         margin-top: 10px;
     }